footer h2,h3{
    color: #fff;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 70px;
    border:3px solid red;
   
    float: left;
    
}

footer{
    background:#F2F2F2 ;
    text-align: center;
    padding-bottom: 50px;
}


footer p{
   text-align: justify;
    color: #086A87;
}

ul.redessociales li{
    display: inline-block;
    width: 50px;
    background: #fff;
    border: 3px solid #fff;
    border-radius: 10px;
    margin-top: 47px;
  
    
    
}
.facebook{
      width: 100px;
      height: 100px;
}

p.copy{
    text-align: center;
  margin-top: 50px;
}
p.contactenos{
    text-align: center;
    margin-top: 20px;
    
}
.mb-0{
    color:#fff;
}

.compusistem{
    color:black;
}
.enlaces{
    color:black;

}
.productos{
    color:black;
}
.contacto{
    color:black;
}
.filas{
    margin-top: 20px;
}
